@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:200,400);
body {
    padding: 0;
    margin: 0;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 200;
    background-color: #C2727C;
    color: white;
    font-size: 1em;
}

::selection {
    background-color: #72C2B8;
}

.plate {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    transform-origin: right top;
    -moz-transform-origin: right top;
    -ms-transform-origin: right top;
    -o-transform-origin: right top;
    -webkit-transform-origin: right top;
}

.matrixContainer {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#menucontainer {
    margin: 0;
    padding: 0;
    width: 10em;
    height: 100%;
}
#menucontainer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 12em;
    position: relative;
    top:50%;
    margin-top: -8em;

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
#menucontainer ul li {
    text-align:right;
    cursor: default;
    padding-top: 1em;
    padding-right: 0.5em;
    margin-left: 1em;
    margin-top: 0.5em;
    height: 2em;

    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
#menucontainer ul hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.65), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.65), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.65), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.65), rgba(0,0,0,0)); 
}
#menucontainer ul li:hover {
    background-color: #72C2B8;
}

.zimmlected {
    background-color: #9E5A63;
    -webkit-box-shadow: inset 0px 0px 5px 0.5px rgba(0, 0, 0, 1);
    box-shadow: inset 0px 0px 5px 0.5px rgba(0, 0, 0, 1);
}

.platecontent {
    display: hidden;
    background-color: #9E5A63;
    -webkit-box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 1);
    margin: 1em;
    height: calc(100% - 1em);
    width: calc(100% - 1em);
}

.textbloc {
    color: white;
    display: block;
    padding: 1em;
    margin: 1em;
}

#io span.textbloc {
    height: 55px;
}

.blogpost {
    height: 26.5em;
    margin-top: -0.5em;
    overflow: auto;
}

.blognav {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-corner {
    display: none;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    height: 10px;
    background-color: rgba(255,255,255,0.5);
    opacity: 0.3;
    -webkit-border-radius: 6px;
}

.highlight ::-webkit-scrollbar-thumb {
    height: 10px;
    background-color: rgba(137,137,137,0.5);
    -webkit-border-radius: 6px;
}

.highlight {
    max-width: 85%;
    color: #000;
}

.highlight ::selection {
    background: rgba(65,131,196,0.4);
}

.highlight pre {
    background-color: #f8f8f8;
    box-shadow: inset 0px 0px 5px #000;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
}

a {
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
}
