
accent-color = #8ef3af
bg-color = #a8a8a8
txt-color = #dde7e7
square-dimen = 80vmin
oneoversqrt2 = 0.707106781
oneminusoneoversqrt2 = 0.292893219
anilength = 0.8s

html
  font-size 1vmin

body
  font-family 'Raleway', sans-serif
  color txt-color
  background-color bg-color

::selection
  background-color accent-color
  color darken(bg-color, 30)

main
  width square-dimen
  height square-dimen
  position absolute
  left 50vw
  top 50vh
  margin-top -(@height / 2)
  margin-left -(@width / 2)

.hidden
  visibility hidden !important
  z-index -100

.button
  display inline-block
  color darken(bg-color, 30)
  width 21rem
  height 7rem
  border-radius 0.5rem
  background-color accent-color
  cursor pointer
  opacity 0
  position relative
  transition opacity anilength ease-in-out, margin anilength ease-in-out
  &.showing
    opacity 1
  ::selection
    background-color bg-color
    color accent-color
  span
    position absolute
    top 50%
    left 50%
    margin 0
    margin-right -50%
    transform translate(-50%, -50%)
    font-size 3rem
    cursor pointer
  &:hover
    background-color darken(bg-color, 30)
    color txt-color
    ::selection
      background-color accent-color
      color darken(bg-color, 30)

section
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  > header > h1
    position absolute
    top 14vmin
    left 14vmin
    opacity 0
    font-size 5rem
    margin-top - oneoversqrt2 rem
    margin-left oneoversqrt2 rem
    transition opacity anilength ease-in, margin anilength ease-in
    &.showing
      margin-top 0
      margin-left 0
      opacity 1
  nav
    display block
    position absolute
    top 50%
    left 50%
    margin 0
    margin-right -50%
    transform translate(-50%, -50%)
    ul
      padding 0
      list-style-type none
      li
        display inline-block
        margin 2rem
        &.showing
          margin 1rem
  article
    // r = (W - 2M) / 2
    // a^2 = 2(w/2)^2
    // a = r
    // (W - 2M)^2 / 2^2 = 2(w/2)^2
    // (W-2M)^2 = 8 w^2 / 4
    // (W-2M)^2 = 2 w^2
    // W - 2M = sqrt(2) w
    // (W - 2M) / sqrt(2) = w
    // 2r + w = W
    // W - w = 2r
    // r = (W-w) / 2
    // r = (W - (W - 2M)/sqrt(2)) / 2
    // r = W(1 - 1/sqrt(2)) / 2 + M / sqrt(2)
    width oneoversqrt2 * (square-dimen - 6)
    height @width
    margin auto
    margin-top square-dimen * oneminusoneoversqrt2 * 0.5 + oneoversqrt2 * 3 rem
    font-size 2.45 rem
    text-align justify
    transform scale(0.8, 0.8)
    opacity 0
    transition opacity (anilength / 3) ease-in-out, transform (anilength / 3) ease-in-out
    &.showing
      opacity 1
      transform none

@media only all and (max-width: 600px)
  html
    padding 0
    margin 0
    font-size 0.6em
  body
    padding 0
    margin 0
  main
    position static
    top auto
    left auto
    padding 0
    margin 0
    width auto
    height auto
  main > svg
    display none
  section
    height auto
    width auto
    position static
    margin 0 !important
    top 0
    left 0
    > header 
      > h1
        width 100%
        position static
        text-align center
        margin auto
        padding-top 3rem
        opacity 1
        &.hidden
          visibility visible !important
        &.showing
          margin auto
    nav 
      width 100%
      margin 0
      display block
      position static
      transform none
      ul
        width 80%
        margin auto
        margin-top 3rem
        li
          display block
          width 100% !important
          margin 1rem auto !important
          transition opacity anilength ease-in-out !important
          &.transitionfree
            transition none !important
          &.hidden
            margin 0 !important
            height 0
          &.showing
            margin auto
            opacity 1
    article
      width 80%
      height auto
      margin auto
      padding-bottom 3rem
      font-size 2em

